@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belleza&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
  background-color: #15181e;
}
 header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
   /* justify-content: center;*/
    padding: 17px 0px;
    position: fixed;
    overflow-Z: hidden;
    z-index: 20;
    
 }
.logo-texto{
    color: aliceblue;
}
.menu{
  display: inline-flex;

  
}
 .menu li{
    display: inline-blocks;
    font-size: 20px;
    margin: 0px 15px;
    display: inline-block;
 }
  .menu li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    padding: 15px 10px;
    border-radius: 15px;
  }
.menu li a:hover{
    background-color:rgba(100, 100, 100, 0.5);
    padding: 5px 10px;
}
.center{
  width: 100vw;
  height: 100%;
  background-color: red;
  background-color: #15181e;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.main{
  width: 50vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    
}
.card{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 35px;
  background-color: #2e2f33;
  border-radius: 20px;
  box-shadow: 0px 10px 40px #00000056;
  margin: 7px;
  flex-direction: column;
  letter-spacing: 1px;
  text-decoration: none;
  text-decoration-line: none;
  overflow-Z: hidden;
  
}


a:hover{
  background-color: #56585f;
  margin: 10px 20px;
  border-radius: 20px;
  overflow-Z: hidden;
  width: 52vw;
  height: 28vh;
}




@media screen and (max-width: 650px) {

  .main{
    margin-left: 5%;
     margin-right: 5%;
     width: 90vw;
  }
  a:hover{
    width: 92vw;
    height: 19vh;
  }
}
















a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}
 /*
.logo {
 font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #000000;
  height: 8vh;

}

.nav-list {
  list-style: none;
  display: flex;
}
.nav-list a{
  
}
.nav-list a:hover{
  background-color: transparent;
  
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 60vw;
    height: 92vh;
    background: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
    margin-left: 15px;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
