*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
}
body{
    background-color: #15181e;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: #15181e;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.acoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px ;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 30px 35px;
    align-items: center;
    text-decoration: none;
    color: white;
}
.acoes > a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
.card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color:#2e2f33;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    text-decoration: none;
    color: white;
}
.card :hover{
    cursor: pointer;
    background-color:#4b4c53;
}
h1{
    color: white;
    font-size: 20px;
}
h1:hover{
    background-color: transparent;
}
@media screen and (max-width: 650px) {


    .main{
        width: 100vw;
        height: 100vh;
        position: fixed;
    }
    .center{
        width: 100%;
        height: 100%;
        
    }
    .card{
        width: 100vw;
        height: 100vh;
        box-shadow: none;
        border-radius: 0%;
    }
}