@import url('https://fonts.googleapis.com/css2?family-Noto+Sans:wght@400 ; 700 & display = swap ');
body{
    margin: 0;
    font-family: 'Noto Sans' , sans-serif;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #15181e;;
    display: flex;
    justify-content: center;
    align-items: center;
}


.right-login{
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2e2f33;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    color: white;
}
.card2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #2e2f33;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    color: white;
    margin-top: 30px;
}
p{
    color: white;
}

@media screen and (max-width: 950px) {
    .card-login{
        width: 100vw;
        height: 80vh;
        
    }
    .right-login{
        width: 50vh;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
@media screen and (max-width: 650px) {

    .card-login{
        width: 100%;
        height: 100%;
        box-shadow: none;
        border-radius: 0%;
    }
    .main-login{
        width: 100vw;
        height: 100vh;
        position: fixed;
    }
    .right-login{
        width: 100%;
        height: 100%;
        
    }
}